footer{
  height:8vh;
  background-color: #0b0c13;
  border-top: 1px solid #a63535;
}
li{
  list-style: none;
  margin-top: 5px;
  font-size: 1.2rem;;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
padding-top: 25px;
text-transform: uppercase;
}
p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px;
  color: #fff;
  text-transform: uppercase;
  // margin-top: 20px;
  font-size: 1.5rem;
  cursor: pointer;

  &:hover{
    color: #5a3441;
    transition: 0.3s;
   }

}

.content-container{
  // width: 260px;
}

ul li a{
  margin: 35px 35px;
  color: #fff;
  transition: 0.3s;
  padding-top:5px;

 &:hover{
  color: #5a3441;
  transition: 0.3s;
 }
}
