footer{
  height: 12vh;
  background-color: #000;
  border-top: 1px solid #fff;
}
li{
  list-style: none;
  margin-top: 5px;
  font-size: .7rem;
}

ul {
padding-top: 25px;
text-transform: uppercase;
max-width: 450px;
}
p{
  margin: 15px 35px;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  max-width: 445px;
  border-bottom: 3px solid #5a3441;
  font-size: .7rem;
  cursor: pointer;

  &:hover{
    color: #5a3441;
    transition: 0.3s;
   }

}

ul li a{
  margin: 0px 35px;
  border-bottom: 3px solid #5a3441;
  color: #fff;
  transition: 0.3s;
  padding-top:5px;

 &:hover{
  color: #5a3441;
  transition: 0.3s;
 }
}
