

    <div class="top">
        <div class="logo-container">
            <div class="logo"> <span>
                
                FINL
            </span>
            AND</div>
        </div>
    <nav>
        <ul>
            <li>
                <a class="a-content" routerLink="interesting-facts-section">Interesujące Informacje</a>
            </li>
            <li>
                <a class="a-content" routerLink="contact">Kontakt</a>
            </li>
            <li>
                <a class="a-content" routerLink="about">O nas</a>
            </li>
        </ul>
    </nav>
</div>

    <div class="background-finland">
    
        
    
        <div class="h1-container">
            
            <h1> <span>
        
                Finlandia
                </span>
                  -  kraj lasów, jezior i saun</h1>
        </div>
        <div class="button-container">
            <h2>Odkryj piękno 
                <span>

                    Finlandii
                </span>
                
                razem z nami</h2>
            <button>Zobacz więcej!</button>
        </div>
    </div>
    
