.top{
    height: 8vh;
    background-color: #06070E;
    display: flex;
    border-bottom: 1px solid #fff;
}
.logo{
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;
}

.logo span{
    color: #e05e5e;
    font-size: 2rem;

}



.logo-container{
    height: 100%;
width: 10%;
display: flex;
justify-content: center;
align-items: center;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
width: 90%;

}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
width: 90%;
gap: 100px;
margin-right: 45px;
list-style: none;
}

nav a{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    padding: 6px;




}



nav a:hover{
    border-bottom:  2px solid #e05e5e;

    transition: 0.3s;
}


.active {
  border-bottom: 2px solid #e05e5e;
  padding: 6px;


}


@media screen and (max-width: 700px){

  .logo{
    // margin-left: 100px;
  }
  .logo span{
    cursor: pointer;

  }
  .logo-container{
    width: 30%;
  }
ul{
  margin-right: 20px;
  gap: 20px;
}
nav{
  width: 70%;
}

nav a{
  font-size: .7rem;
  padding: 0px;

}



}


