

    <div class="top">
        <div class="logo-container">
            <div routerLink="" class="logo"> <span>

                FINL
            </span>
            AND</div>
        </div>
    <nav>
        <ul>
            <li>
                <a class="a-content" routerLink="interesting-facts-section">Interesujące Informacje</a>
            </li>
            <li>
                <a class="a-content" routerLink="contact">Kontakt</a>
            </li>
            <li>
                <a class="a-content" routerLink="about">O nas</a>
            </li>
        </ul>
    </nav>
</div>


