.top{
    height: 8vh;
    background-color: #06070E;
    display: flex;
    border-bottom: 1px solid #fff;
}
.logo{
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 30px;
    cursor: pointer;
}

.logo span{
    color: #1271ed;
    font-size: 2rem;

}

.logo-container{
    height: 100%;
width: 10%;
display: flex;
justify-content: center;
align-items: center;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
// color: #fff;
width: 90%;

}
ul{
    display: flex;
    justify-content: right;
    align-items: center;
// color: #fff;
width: 90%;
}

nav a{
    font-size: 1rem;
    margin: 40px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.3s;
    padding: 6px;




}



nav a:hover{
    border-bottom:  2px solid #1271ed;

    transition: 0.3s;
}
