.background-finland{
  background-color: #0b0c13;
  height: 90vh;
  width: 100%;


}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px;
  color: #fff;
  font-size: 3rem;

}

p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 25px;
  color: #fff;
  font-size: 1.5rem;
}
