.background-finland{
  background-color: rgb(18, 17, 17);
  height: 90vh;
  width: 100%;


}

h2{
  font-size: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

h2 span{
  color: #e05e5e;
  padding-left:15px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;

}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 140px;

}
form label {
  margin: 5px;
}

label{
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

input{
  width: 250px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid rgba(224, 94, 94, 1);
  outline: none;
}


textarea{
  margin: 10px  0px;
  width: 600px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid rgba(224, 94, 94, 1);
  outline: none;
  resize: none;
  box-shadow: none

}
