.background-finland{
  background-color: #0b0c13;

  height: 100vh;
  width: 100%;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: 3px;
  gap: 15px;
  text-transform: uppercase;
}

h2 span{
  color: #e05e5e;
}

.grid{
  display: flex;
  justify-content: center;
}


ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 5px;
  list-style: none;
  margin-top: 100px;
  align-self: center;
  text-align: left;
  margin-left: 30px;
}

ul li{
  padding: 15px;

}

.box1 .li-container li span{
  color: #e05e5e;
}


.box1 .li-container{
  display: flex;

  color: #fff;
  margin: 15px 0px;
  max-width: 200px;
}

